



<%= link_to "<i class='fa-solid fa-plus icon'></i> Thêm sản phẩm".html_safe, new_product_path, class: "btn btn-add" if authenticated? %>

  <div class="divice-block__screen">
      <h3 class="title-product">
          <i class="fa-solid fa-list"></i>
          Sản phẩm
      </h3>
      <div class="row sTb-gutter">
          <% @products.each do |product| %>
            <div class="col PC-2-4 Tb-4 Mb-6">
              <a href="/products/<%= product.id %>" class="home-product-item">
                    <% if product.featured_image.attached? %>
                      <div class="home-product-item__img" style="background-image: url('<%= url_for(product.featured_image) %>')"></div>
                    <% end %>

                    <h4 class="home-product-item__name"> <%= product.name %> </h4>
                    <p class="home-product-item__price-current"> <%= product.price %> vnd </p>                                                         
              </a>
            </div>
          <% end %>     
      </div>
  </div>